<div class="row project-team-member">
  <div class="col-xs-3">
    <% if user.profile_image_url.present? %>
      <img src='<%= user.profile_image_url %>'>
    <% else %>
      <%= image_tag 'grumpy-kitty.jpg' %>
    <% end %>
  </div>

  <div class="col-xs-9">
    <h1 id='<%= user.full_name.parameterize %>'><%= user.full_name %></h1>
    <p><%= user.bio %></p>
  </div>
</div>
