<div class='project-card'>
  <div class='card-image' style='background-image: url(<%= project.card_image_url || "http://placehold.it/640x480"%>)'>
  </div>

  <div class='card-content'>
    <div class='card-project-title'>
      <%= link_to project.name, project_path(project), title: project.name %>
    </div>
    <p class='card-description'><%= truncate(project.blurb, length: 140)%></p>
  </div>

  <div class='card-footer'>
    <span class='card-points'>
      <%= pluralize(number_with_delimiter(project.points_donated), 'pt') %>
    </span>
    <%= link_to 'learn more', project_path(project), class: 'card-learn-more' %>
  </div>
</div>
