<% active_round = @competition.active_round %>
<div class='container'>
  <div class='landing-section-heading'>
    <h1>The Billion Bracket: Round <%= active_round.round_number %></h1>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2'>
        <p class='landing-section-subheading'>
          We are looking to improve Columbus. Help us find the best way.
        </p>
      </div>
    </div>
  </div>

  <div class='row'>

    <% active_matches = active_round.matches %>
    <% if active_matches.size == 1 %>
      <div class='col-sm-6 col-sm-offset-3'>
        <%= render partial: 'shared/match_up_card',
          locals: { matchup: active_matches.first } %>
      </div>
    <% else %>
      <% active_matches.each_slice(2) do |m1, m2| %>

        <div class='col-sm-5'>
          <%= render partial: 'shared/match_up_card', locals: { matchup: m1} %>
        </div>

        <div class='col-sm-5 col-sm-offset-2'>
          <%= render partial: 'shared/match_up_card', locals: { matchup: m2} %>
        </div>
      <% end %>
    <% end %>

    <div class='row'>
      <div class='col-md-12 text-center'>
        <%= link_to 'See all projects', projects_path, class: 'project-see-all btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
</div>
