<nav class="navbar navbar-default navbar-landing">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag 'greenlogo.png' %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Social</a></li>
        <li><a href="#" class="nav-call-to-action">Join The Movement</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="jumbotron jumbotron-landing">
  <div class="container">
    <h1>billion</h1>
    <p>Fundamentally Changing the Way the World Crowd Funds</p>
    <a href="#about-video" class="jumbotron-down-link">
      <span class="glyphicon glyphicon-menu-down bounce" aria-hidden="true"></span>
    </a>
  </div>
</section>

<section id="landing-about" class="landing-section">

  <div class="container">
    <div class='row'>
      <div class='col-xs-12'>
        <div class="section-rant">
          <p>We are developers, designers, creatives, or entrepreneurs by
          trade. But we are makers at heart.</p>
          <p><strong>Billion is where we band together to change the world.
          </strong></p>
        </div>
      </div>
    </div>

    <div class="row about-text-blocks">
      <div class="col-xs-12 col-sm-4">
        <div class="about-text-block">
          <div class="about-icon-block">
            <%= image_tag('stages/hand.png', :class => 'horizontalAlignCenter')  %>
          </div>
          <h4>Pitch & Rally</h4>
          <p>On September 15, 2015 pitch your BAM on billioneffect.com and
          start to rally votes from your friends family.</p>
          <p>1 vote = $1.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="about-text-block">
          <div class="about-icon-block">
            <%= image_tag('stages/bracket.png', :class => 'horizontalAlignCenter') %>
          </div>
          <h4>Bracket</h4>
          <p>The top 16 ideas will be funneled into a basketball style bracket.
          Votes from other BAMs will be reallocated by donors into the
          advancing movements.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="about-text-block">
          <div class="about-icon-block">
            <%= image_tag('stages/person.png', :class => 'horizontalAlignCenter') %>
          </div>
          <h4>Crowdfund & Peoplesource</h4>
          <p>Once the winning billion movement is chosen, the community will
          begin traditional crowdfunding. Additionally, the community will
          volunteer skills and hours to support the billion movement. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="landing-social" class="landing-section">
  <div class="container">
    <div class='row'>
      <div class="section-header">
        <h1>Social</h1>
      </div>
    </div>
  </div>
</section>

<section id="landing-team" class="landing-section">
  <div class="container">
    <div class='row'>
      <div class="section-header">
        <h1>Get to know us</h1>
      </div>
    </div>

    <div class='row'>

      <% 3.times do %>
        <div class='col-sm-4'>
          <div class='person-lg-container'>
            <div class='person-image'>
              <%= image_tag 'http://placehold.it/200x200' %>
            </div>
            <div class='person-bio'>
              <h2>Eileen Guan<small>CEO & Founder</small></h2>
              <p>Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated they
              live in Bookmarksgrove right at the coast of the</p>
            </div>
          </div>
        </div>
      <% end %>

      <% 6.times do %>
        <div class='col-sm-4 col-md-2'>
          <div class='person-sm-container'>
            <div class='person-image'>
              <%= image_tag 'http://placehold.it/200x200' %>
            </div>
            <div class='person-bio'>
              <h2>Eileen Guan<small>CEO & Founder</small></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="landing-join" class="landing-section">
  <div class="container">
    <div class='row'>
      <div class="section-header">
        <h1>Join the Movement</h1>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-8 col-sm-offset-2 form-group">
        <div class="input-group">
          <input type='text' class="form-control input-lg"
          placeholder="e.g. elonmusk@ironman.com"/>
          <span class="input-group-btn">
            <button class='btn btn-primary input-lg'>Subscribe</button>
          </span>
        </div>
      </div>
      <div class="col-sm-12 form-group">
        <p>We'll keep you updated on our progress.
        <a href='mailto:hello@billioneffect.com'>Still have questions? Ask away</a>
        </p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class='row'>
      <div class="col-sm-4">
        <p class="logo">billion</p>
      </div>
      <div class="col-sm-4">
        <p class="text-center">Made with
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        in Columbus, OH</p>
      </div>
      <div class="col-sm-4">
        <p class="text-right">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        </p>
      </div>
    </div>
  </div>
</footer>
