<section class='landing-masthead'>
  <div class='container-fluid masthead-logo-container'>
    <%= image_tag 'billion_logo_white_small.png', class: 'logo' %>
  </div>
  <div class='container masthead-content-container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='tagline animated fadeInUp'>
          <p>
          The world's first competitive-crowdfunding platform for <strong>social
          good</strong>.<br/>
          We help communities turn big ideas into big movements.
          </p>
        </div>

        <div class='scroll-btn animated bounceIn'>
          <a class='btn btn-lg' href='#festival-section'>
            <%= icon('chevron-down') %>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-festival' id='festival-section'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Columbus Independents' Day Festival</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>
          Billion, in partnership with
          <a href='#'>GameJam</a>
          and
          <a href='http://www.multivariousgames.com/' title='Multivarious Games'>Multivarious Games</a>,
          is excited to hold our first crowdfunding cycle during the
          <a href='http://thisisindependent.com/' title="Columbus Independents's Day Festival">
            Columbus Independents' Day Festival</a>
          on September&nbsp;19&nbsp;-&nbsp;20.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-6 lg-festival-img-container'>
    <%= image_tag 'festival.jpg', class: 'festival-img-lg' %>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <%= image_tag 'festival.jpg', class: 'festival-img-sm' %>
      </div>
      <div class='col-md-6'>
        <div class='festival-step'>
          <h2>Pitching</h2>
          <p>
          We are accepting applications for ideas that will make a positive impact in the Columbus community.
          The top eight ideas will be selected to compete for funding at the festival.
          </p>
          <p><strong>Have a great idea? <a href='#pitch-section'>Pitch it!</a></strong></p>
        </div>

        <div class='festival-step'>
          <h2>At the festival</h2>

          <p><strong>Find our booth</strong> We'll be featured right in the
          middle of the festival. Come check out the eight awesome ideas that were accepted.</p>
          <p><strong>Play and earn points</strong> Have fun with an augumented
          reality video game made by Multivarious Games. All of the points you
          earned will count toward the idea that you selected, and the
          admission fee will be used to fund the winning idea.</p>
          <p><strong>Follow the bracket</strong> Ideas will be matched against
          each other in a single elimination tournament bracket. Bring your
          friends and families, spread the word, and help take the to the top.</p>
          <p><strong>Buy points online</strong> Can't make it to the
          festival, but still want to support an idea? We've got your back.
          Visit us on this website and you'll be able to purchase points for
          the idea of your choosing.</p>
        </div>

        <div class='festival-step'>
          <h2>Winner</h2>
          <p>At the end of the festival, the idea that has earned the most points will receive 100% of the admission fees raised at the event.</p>
          <p>We call this <em>Competitive Crowdfunding</em>. Sound like fun yet?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-pitch' id='pitch-section'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Pitch Your Idea</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>Have a great idea? We'd love to talk!</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-md-offset-1'>
        <h2>Why</h2>
        <p>Your participation alongside Billion at the Columbus Independents'
        Day Festival is a surefire way to gain publicity for your idea. You
        will have the opportunity to present your idea to thousands of Ohioans
        who attend the Independents' Day Festival every year.</p>
        <p>And if you can convince attendees that your idea is the best, you will go home
        with some serious capital to make your idea into a reality.</p>
        <p>In addition to your newly found fans and dough, you'll receive
        mentorship and helpful resources from Billion to help you get bring
        your idea to life.</p>
      </div>

      <div class='col-md-4 col-md-offset-2'>
        <h2>Who</h2>
        <p>Billion is aimed at individuals, teams and organizations. We're
        looking for movers, doers, artists, entrepreneurs, and story tellers
        who want to accomplish social good in Columbus' communities. You bring
        the idea, and we'll bring Columbus' best and brightest community
        leaders, movers and shakers who can help make it all happen.</p>
        <p>If applying on behalf of an existing organization, we ask that you
        apply with a specific idea in mind, rather than just applying for your
        organization in general.</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div class='submit-btn-container'>
          <button class='submit-idea-btn btn btn-lg btn-primary' data-toggle="modal" data-target="#pitch-modal">
            Submit your idea
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-dates'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Important Dates</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>We know you're busy trying to change the world and everything, so
          here are some important dates to keep in mind.</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='timeline'>

        <div class='col-md-3 event-container'>
          <div class='timeline-event timeline-past-event'>
            <span class='timeline-date'>
              <time datetime='2015-06-30'>June 30</time>
            </span>
            <h2>Pitching begins</h2>
            <p>Submit your applications on the Billion web site! We review
            submissions as they are sent in. If we need more information about
            your application, we'll be in contact.</p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2015-08-01'>August 1</time>
            </span>
            <h2>Pitching ends</h2>
            <p>We'll pick the top eight submissions to appear at the event. If
            your idea is selected to participate, we'll let you know.</p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event'>
            <time datetime='2015-09-01' class='timeline-date'>September 1</time>
            <h2>Rallying begins</h2>
            <p>Submissions selected for participation will be displayed at our
            web site at
            <a href='http://www.billioneffect.com'>billioneffect.com</a>. Share
            the link to your project with friends and family to build
            support.</p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2015-09-19'>September 19</time>
              -
              <time datetime='2015-09-20'>20</time>
            </span>
            <h2>Competition</h2>
            <p>Compete against other social causes at the Columbus Independents'
            Day Festival to win the money stash. We'll announce the winner on
            the last day of the festival.</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section class='landing-section landing-join'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Join the Movement</h1>
      <div class='row'>
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <%= render 'pages/subscription_form' %>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>
            Subscribe to our mailing list and we'll keep you updated on our
            progress.<br/>
            <a href='mailto:hello@billioneffect.com'>
            Still have questions? Ask away!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'pages/pitch_modal' %>

<% content_for :scripts do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      new Billion.LandingAnimator();
    });
  <% end %>
<% end %>
