<script>
  window.config = window.config || {};
  window.config.subscribePath = '<%= subscribe_path %>';
  window.config.authenticityToken = '<%= form_authenticity_token %>';
</script>

<section class='landing-section landing-masthead'>
  <div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='logo animated bounceIn'>
        <%= image_tag 'billion_logo_white_small.png' %>
      </div>

      <div class='tagline animated fadeInUp'>
        <p>
        A competitive crowdfunding platform for social good.<br/>
        We help communities turn big ideas into big movements.
        </p>
      </div>

      <div class='scroll-btn animated fadeInUp'>
        <a class='btn btn-lg'>
          Coming to Columbus 9/19
          <%= icon('chevron-down') %>
        </a>
      </div>
    </div>
  </div>
  </div>
</section>

<section class='landing-section landing-festival'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Columbus Independents' Day Festival</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>Billion, in partnership with GameJam and Multivarious Games, is
          excited to hold our first crowdfunding cycle during the Columbus
          Independents' Day Festival.</p>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-6 lg-festival-img-container'>
    <%= image_tag 'festival.jpg', class: 'festival-img-lg' %>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <%= image_tag 'festival.jpg', class: 'festival-img-sm' %>
      </div>
      <div class='col-md-6'>
        <div class='festival-step'>
          <h2>About Us</h2>
          <p>Billion is a new way to fundraising for social good. It's based on
          traditional crowdfunding, so you can quickly reach a wide customer and
          fan base and get your idea off the ground.</p>

          <p>But what makes Billion different is a competitive aspect in which
          great ideas compete for ranking in a high stakes contest of pitching
          your ideas and rallying support for them.</p>

          <p>Winner takes all. We call it Competitive Crowdfunding. Sound like
          fun yet?</p>

        </div>

        <div class='festival-step festival-step-'>
          <h2>About The Festival</h2>

          <p>The Columbus Independents' Day Festival is an annual celebration
          of the art, music, food and fun that brings Columbus alive.</p>

          <p>For two days, be treated to a variety of live music, enjoy
          delicious food and drink, shop local arts and crafts, and have fun
          with interactive games and exhibits.</p>

        </div>

        <div class='festival-step'>
          <h2>About Our Collaboration</h2>

          <p>The Festival is an event that brings socially- and
          locally-conscious minds together. That's why it's a great place to
          launch Billion to the world and to hold our first competitive
          crowdfunding campaign.</p>

          <p><strong>Have a great idea? <a href='#'>Let us know!</a></strong></p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-pitch'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Pitch Your Idea</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>Have a great idea? We'd love to talk!</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-md-offset-1 pitch-who'>
        <h2>Who</h2>
        <p>Billion is aimed at individuals, teams and organizations. We're
        looking for movers, doers, artists, entrepreneurs, and story tellers
        who want to accomplish social good in Columbus' communities.</p>

        <p>You bring the idea, and we'll bring Columbus' best and brightest
        community leaders, movers and shakers who can help make it all happen.
        </p>
      </div>

      <div class='col-md-4 col-md-offset-2 pitch-why'>
        <h2>Why</h2>
        <p>Your participation alongside Billion at the Columbus Independents'
        Day Festival is a surefire way to gain publicity for your cause, not to
        mention some sweet, sweet funding if you end up winning.</p>

        <p>In addition to your newly found fans and dough, you'll receive
        mentorship and helpful resources from Billion to help you get your
        cause moving after the event.</p>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <div class='submit-btn-container'>
          <a href='#' class='submit-idea-btn btn btn-lg btn-primary'>
            Submit your idea
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-dates'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Important Dates</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>We know you're busy trying to change the world and everything, so
          here are some important dates to keep in mind.</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='timeline'>

        <div class='col-md-3 event-container'>
          <div class='timeline-event timeline-past-event'>
            <span class='timeline-date'>
              <time datetime='2015-06-30'>June 30</time>
            </span>
            <h2>Pitching begins</h2>
            <p>Submit your applications on the Billion web site! We review
            submissions as they are sent in. If we need more information about
            your application, we'll be in contact.</p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2015-08-01'>August 1</time>
            </span>
            <h2>Pitching ends</h2>
            <p>We'll pick the top eight submissions to appear at the event. If
            your idea is selected to participate, we'll let you know.</p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event'>
            <time datetime='2015-09-01' class='timeline-date'>September 1</time>
            <h2>Rallying begins</h2>
            <p>Submissions selected for participation will be on display here.
            Share the link to your project with friends and family to build
            support.</p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2015-09-19'>September 19</time>
              -
              <time datetime='2015-09-20'>20</time>
            </span>
            <h2>Competition</h2>
            <p>Compete against other social causes at the Columbus Independents'
            Day Festival to win the money stash. We'll announce the winner on
            the last day of the festival.</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section class='landing-section landing-join'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Join the Movement</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p>We'll keep you updated on our progress. <a href='#'>Still have
            questions? Ask away!</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class='landing-footer'>
  footer
</footer>

<% content_for :scripts do %>
  <%= javascript_tag do %>

    // Animate on elements on page scroll
    new Billion.LandingAnimator();

  <% end %>
<% end %>
