<script>
  window.config = window.config || {};
  window.config.subscribePath = '<%= subscribe_path %>';
  window.config.authenticityToken = '<%= form_authenticity_token %>';
</script>
<div class='masthead-container'>
  <nav class="navbar navbar-default navbar-landing">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--
        <a class="navbar-brand" href="#">
          <%= image_tag 'greenlogo.png', class: 'logo-image' %>
          <span class='logo-text'>billion</span>
        </a>
        -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">About</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Social</a></li>
          <li><a href="#" class="nav-call-to-action">Join The Movement</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <section class="jumbotron jumbotron-landing">
    <div class="container">
      <div>
        <span class='logo-text'>billion</span>
      </div>

      <p class="tag-line">Changing the way the world crowdfunds. For&nbsp;good.</p>

      <div>
        <button class='play-btn btn'><%= icon('play', 'Watch the video') %></button>
      </div>

    </div>
  </section>
</div>

<section id="landing-about" class="landing-section">

  <div class="container">
    <div class='row'>
      <div class='col-xs-12'>
        <div class="section-rant">
          <p>We are developers, designers, creatives, or entrepreneurs by
          trade. But we are makers at heart.</p>
          <p><strong>Billion is where we band together to change the world.
          </strong></p>
          <p>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalVideo">
              Watch video
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="row about-text-blocks">
      <div class="col-xs-12 col-sm-4">
        <div class="about-text-block">
          <div class="about-icon-block">
            <%= image_tag('stages/hand.png', :class => 'horizontalAlignCenter')  %>
          </div>
          <h4>Pitch & Rally</h4>
          <p>On September 15, 2015 pitch your BAM on billioneffect.com and
          start to rally votes from your friends family.</p>
          <p>1 vote = $1.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="about-text-block">
          <div class="about-icon-block">
            <%= image_tag('stages/bracket.png', :class => 'horizontalAlignCenter') %>
          </div>
          <h4>Bracket</h4>
          <p>The top 16 ideas will be funneled into a basketball style bracket.
          Votes from other BAMs will be reallocated by donors into the
          advancing movements.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="about-text-block">
          <div class="about-icon-block">
            <%= image_tag('stages/person.png', :class => 'horizontalAlignCenter') %>
          </div>
          <h4>Crowdfund & Peoplesource</h4>
          <p>Once the winning billion movement is chosen, the community will
          begin traditional crowdfunding. Additionally, the community will
          volunteer skills and hours to support the billion movement. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="landing-columbus" class="landing-section">
  <div class="container">
    <div class='row'>
      <div class="section-header">
        <h1>Coming to Columbus</h1>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-8 col-sm-offset-2 landing-columbus-text">
        <p>Billion is a platform for crowdfunding global initiatives. We’re
        starting at home to first give back to our community. In our case,
        that’s the beautiful city of Columbus, Ohio.</p>
        <p>The first iteration of Billion will be held in the 614.  The release
        date of our crowdfunding site will be up very soon. Make sure to join
        our email list and we’ll keep you updated. No spam, we promise.
        <%= icon('heart') %></p>
        <p>Start thinking of ideas to change Columbus, for good.</p>
      </div>
    </div>
  </div>
</section>

<section id="landing-team" class="landing-section">
  <div class="container">
    <div class='row'>
      <div class="section-header">
        <h1>Get to know us</h1>
      </div>
    </div>

    <div class='row'>

      <div class='col-sm-4'>
        <div class='person-lg-container'>
          <div class='person-image'>
            <%= image_tag 'team/eileen.jpg' %>
          </div>
          <div class='person-bio'>
            <h2>Eileen Guan<small>CEO & Founder</small></h2>
            <p>Eileen is a UI/UX designer with a passion for solving impossible problems.
            A fourth-year student at Ohio State, she is a tech startup junkie with an
            unending love for building stuff and social entrepreneurship.</p>
          </div>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class='person-lg-container'>
          <div class='person-image'>
            <%= image_tag 'team/alex.jpg' %>
          </div>
          <div class='person-bio'>
            <h2>Alex Vargas<small>CTO</small></h2>
            <p>Alex is a social entrepeneur with full stack development experience.
            He's excited to be working on a project that can make billion-people impacts.</p>
          </div>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class='person-lg-container'>
          <div class='person-image'>
            <%= image_tag 'team/ray.jpg' %>
          </div>
          <div class='person-bio'>
            <h2>Ray Li<small>COO</small></h2>
            <p>Ray is a recent graduate of Cornell University, where he studied physics and music.
            Ray is passionate about technology, innovation, and social good, and wants to develop
            platforms that deliver lasting changes for a better tomorrow.</p>
          </div>
        </div>
      </div>

      <div class='col-sm-4 col-md-2'>
        <div class='person-sm-container'>
          <div class='person-image'>
            <%= image_tag 'team/winnie.jpg' %>
          </div>
          <div class='person-bio'>
            <h2>Winnie Li<small>Marketing</small></h2>
          </div>
        </div>
      </div>

      <div class='col-sm-4 col-md-2'>
        <div class='person-sm-container'>
          <div class='person-image'>
            <%= image_tag 'team/michael.jpg' %>
          </div>
          <div class='person-bio'>
            <h2>Michael <small>Finance</small></h2>
          </div>
        </div>
      </div>

      <div class='col-sm-4 col-md-2'>
        <div class='person-sm-container'>
          <div class='person-image'>
            <%= image_tag 'team/dicko.jpg' %>
          </div>
          <div class='person-bio'>
            <h2>Dicko Sow<small>Finance</small></h2>
          </div>
        </div>
      </div>

      <div class='col-sm-4 col-md-2'>
        <div class='person-sm-container'>
          <div class='person-image'>
            <%= image_tag 'team/mark.jpg' %>
          </div>
          <div class='person-bio'>
            <h2>Mark<small>Back End Lead Developer</small></h2>
          </div>
        </div>
      </div>

      <div class='col-sm-4 col-md-2'>
        <div class='person-sm-container'>
          <div class='person-image'>
            <%= image_tag 'team/justin.jpg' %>
          </div>
          <div class='person-bio'>
            <h2>Justin<small>Front End Lead Developer</small></h2>
          </div>
        </div>
      </div>

      <div class='col-sm-4 col-md-2'>
        <div class='person-sm-container'>
          <div class='person-image'>
            <%= image_tag 'team/allen.jpg' %>
          </div>
          <div class='person-bio'>
            <h2>Allen White<small>Developer</small></h2>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="landing-join" class="landing-section">
  <div class="container">
    <div class='row'>
      <div class="section-header">
        <h1>Join the Movement</h1>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-8 col-sm-offset-2">
        <div class="alert alert-success hide" role="alert">
          <strong>Thanks for your support!</strong> We've sent you an email to
          confirm that you'd like to recieve updates on our progress.
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2 bd-danger">
        <div class="alert alert-danger hide" role="alert">
          Please enter a valid email address.
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2 form-group">
        <form>
          <div class="input-group">
            <input type="email" class="form-control input-lg landing-email-input"
            placeholder="e.g. elonmusk@ironman.com"/>
            <span class="input-group-btn">
              <button class='btn btn-primary input-lg landing-email-submit'>
                <span class="landing-submit-text">Subscribe</span>
                <%= icon('spinner', '', class: 'fa-pulse hide') %>
              </button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-sm-12 form-group landing-join-message">
        <p>We'll keep you updated on our progress.
        <a href='mailto:hello@billioneffect.com'>Still have questions? Ask away</a>
        </p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class='row'>
      <div class="col-sm-2">
        <p class="logo">billion
        </p>
      </div>
      <div class="col-sm-8">
        <p class="love">Made with
        <%= icon('heart') %>
        in Columbus, OH</p>
      </div>
      <div class="col-sm-2">
        <p class="social-links">
        <%= link_to icon('facebook'), '#' %>
        <%= link_to icon('twitter'), '#' %>
        <%= link_to icon('instagram'), '#' %>
        </p>
      </div>
    </div>
  </div>
</footer>

<div id="modalVideo" class="modal fade">
  <div class="modal-dialog">
    <div id="modalVideoHeader">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div id='embedVideo' class='embed-container'>
      <iframe src='http://www.youtube.com/embed/m68_iXKX5Ag?autoplay=true&rel=0&amp;controls=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>
    </div>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
