<section class='landing-masthead'>
  <div class='container-fluid masthead-logo-container'>
    <%= image_tag 'billion_logo_white_small.png', class: 'logo' %>
  </div>
  <div class='container'>
    <div class='masthead-content-container'>
      <div class='row'>
        <div class='col-md-12'>
          <div class='tagline animated fadeInUp'>
            <p>
            The world's first competitive-crowdfunding platform for
              <strong>social&nbsp;good</strong>.<br/>
            We help communities turn big ideas into big movements.
            </p>
          </div>

          <div class='scroll-btn animated bounceIn'>
            <a class='btn btn-lg' href='#landing-works'>
              <%= icon('chevron-down') %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-works' id='landing-works'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>How it Works</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>Billion is divided into three stages:</p>
        </div>
      </div>
    </div>

    <div class='row'>

      <% col_class = 'col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2' %>
      <div class='<%= col_class %>'>
        <%= image_tag 'pitch.png', class: 'center-block' %>
        <div class='billion-stage text-center'>
          <h2>Pitch &amp; Rally</h2>
          <p>Fourteen movements rally their supporters for a chance to win the Billion Fund. The movements that raise the most money move on to the next stage.</p>
          <p><a href='#landing-movements'>Support a Movement</a></p>
        </div>
      </div>
      <div class='<%= col_class %>'>
        <%=image_tag 'bracket.png', class: 'center-block' %>

        <div class='billion-stage text-center'>
          <h2>Bracket</h2>
          <p>The top eight teams from the previous stage will compete at the Columbus Independents' Day Festival in a tournament to determine the winner.</p>
          <p><a href='#festival-section'>Columbus Independents' Day Festival</a></p>
        </div>
      </div>
      <div class='<%= col_class %>'>
        <%=image_tag 'winner.png', class: 'center-block' %>

        <div class='billion-stage text-center'>
          <h2>Winner</h2>
          <p>The winner of the tournament is awarded the Billion Fund. With the support from the community, the winner goes on to change the world.</p>
          <p>
          <%= link_to 'The Billion Fund', story_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-movements' id='landing-movements'>
  <% if @competition.active_round.present? %>
    <%= render 'landing_bracket' %>
  <% else %>
    <%= render 'landing_projects' %>
  <% end %>
</section>

<section class='landing-section landing-festival' id='festival-section'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Columbus Independents' Day Festival</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>
          Billion
          is excited to hold our first crowdfunding cycle during the
          <a href="http://thisisindependent.com/"
          title="Columbus Independents' Day Festival">
            <strong>Columbus Independents' Day Festival</strong>
          </a>
          on September&nbsp;19&nbsp;-&nbsp;20.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-6 lg-festival-img-container'>
    <%= image_tag 'festival.jpg', class: 'festival-img-lg' %>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <%= image_tag 'festival.jpg', class: 'festival-img-sm' %>
      </div>
      <div class='col-md-6'>
        <div class='festival-step'>
          <h2>Engage with local changemakers</h2>
          <p>Come talk to eight handpicked Columbus locals who are making a
          difference in our community.</p>

          <h2>Play a game &amp; support a cause</h2>
          <p>Have fun with a virtual reality game created by our friends at MVG.
          In the game, you'll earn points which you can allocate to one of the 8
          changemakers.</p>
          <p>Can't make it to the festival, but still want to
          support an idea? We've got your back. Visit us on this website and
          you'll be able to purchase points for the idea of your choosing.</p>

          <h2>Support the winner</h2>
          <p>At the end of the festival, all the money collected during the
            event (and on the website) will go to the changemaker that earns the
            most points.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='dates-section' class='landing-section landing-dates'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Important Dates</h1>
      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='landing-section-subheading'>We know you're busy trying to change the world and everything, so
          here are some important dates to keep in mind.</p>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='timeline'>

        <div class='col-md-3 event-container'>
          <div class='timeline-event timeline-past-event'>
            <span class='timeline-date'>
              <time datetime='2015-06-30'>June 30</time>
            </span>
            <h2>Pitching begins</h2>
            <p>Submit your applications here. We'll be  with next steps.
            </p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event timeline-past-event'>
            <span class='timeline-date'>
              <time datetime='2015-08-01'>August 1</time>
            </span>
            <h2>Pitching ends</h2>
            <p>The Billion team will select the top eight submissions to compete for funding.</p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event timeline-past-event'>
            <time datetime='2015-09-01' class='timeline-date'>September 9</time>
            <h2>Rallying begins</h2>
            <p>Submissions selected for participation will be displayed here.
            Share them!
            </p>
          </div>
        </div>

        <div class='col-md-3 event-container'>
          <div class='timeline-event'>
            <span class='timeline-date'>
              <time datetime='2015-09-19'>September 19</time>
              -
              <time datetime='2015-09-20'>20</time>
            </span>
            <h2>Competition</h2>
            <p>Bring your supporters to the festival! We'll announce the winner on the 20th.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class='landing-section landing-partners'>
  <div class='container'>
    <div class='landing-section-heading'>
      <h1>Partners</h1>
    </div>

    <div class='row'>

<% partners = {
  'Game Jam' => ['partners/gamejam.png', nil],
  'Independents\' Day Festival' => ['partners/id15.png', 'http://thisisindependent.com/'],
  'Multivarious Games' => ['partners/multivarious.png', 'http://www.multivariousgames.com/'],
  'NCT Ventures' => ['partners/nct.png', 'http://www.nctventures.com/'],
  'Improving Enterprises' => ['partners/improving_enterprises.png', 'http://www.improvingenterprises.com/'],
  'Small Business Owners of America' => ['partners/sboa.png', 'http://www.improvingenterprises.com/'],
  'PackH2O' => ['partners/packh2o.png', 'http://www.packh2o.com/'],
  'Sqribbly' => ['partners/sqribbly.png', 'http://www.sqribbly.com/'],
  'Small Business Beanstalk' => ['partners/sbb.png', 'http://thesbb.com/'],
} %>
      <div class='col-md-10 col-md-offset-1'>
        <% partners.each do |(name, (img, href))| %>
          <% if href.present? %>
            <%= link_to href, title: name, target: '_blank' do %>
              <%= image_tag  img %>
            <% end %>
          <% else %>
              <%= image_tag  img %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
