<div class="row stats-without-competitor">
  <div class="col-xs-4 project-stat-container text-left">
    <% points_donated = project.points_donated %>
    <div class="project-stat-pts">
      <%= number_with_delimiter points_donated %>
    </div>
    <div class="project-stat-currency">
      <%= 'Point'.pluralize points_donated %>
    </div>
  </div>

  <div class="col-xs-4 project-stat-container text-right">
    <% donation_count = project.donation_count %>
    <div class="project-stat-pts">
      <%= number_with_delimiter donation_count %>
    </div>
    <div class="project-stat-currency">
      <%= 'Donation'.pluralize donation_count %>
    </div>
  </div>

  <div class="col-xs-4 project-stat-container text-right">
    <% points_per_donation = project.points_per_donation %>
    <div class="project-stat-pts">
      <%= number_with_delimiter points_per_donation %>
    </div>
    <div class="project-stat-currency">
      <%= 'Pt'.pluralize points_per_donation %> / Donation
    </div>
  </div>
</div>
