<div class="row stats-without-competitor">
  <div class="col-xs-4 project-stat-container text-left">
    <% net_points = @project.net_points %>
    <div class="project-stat-pts"><%= net_points %></div>
    <div class="project-stat-currency">
      <%= 'Point'.pluralize net_points %>
    </div>
  </div>

  <div class="col-xs-4 project-stat-container text-right">
    <% total_transactions = @project.total_transactions %>
    <div class="project-stat-pts"><%= total_transactions %></div>
    <div class="project-stat-currency">
      <%= 'Donation'.pluralize total_transactions %>
    </div>
  </div>

  <div class="col-xs-4 project-stat-container text-right">
    <% points_per_transaction = @project.points_per_transaction %>
    <div class="project-stat-pts"><%= points_per_transaction %></div>
    <div class="project-stat-currency">
      <%= 'Pt'.pluralize points_per_transaction  %> / Donation
    </div>
  </div>
</div>
