<div class='page-header'>
  <div class='container'>
    <div class='row'>
      <h1>Support A Movement
        <small>Lorem ipsum</small>
      </h1>
    </div>
  </div>
</div>

<div class='transaction-form'>
  <div class='container'>

    <%= form_for @transaction do |f| %>

      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='giving-sentence'>
          I'd like to donate

          <span class='dollar-container'>
            $<%= f.text_field :amount, value: '1.00',
              class: 'amount-field',
              step: '0.01',
              data: { autonumeric: { aSign: '$', vMin: 1 }} %>
          </span>

          to the <%= link_to 'Billion&nbsp;Fund'.html_safe, '#' %>, <br/>

          <span class='point-container'>
            giving
            <span class='point-value'>200</span>
            <span class='point-unit'>points</span>
            to
          </span>

          <%= f.collection_select :recipient_id, Project.all, :id, :name, { prompt: '...' }, class: 'project-select' %>.
          </p>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-4 col-md-offset-4'>

          <div class='payment-spinner'>
            <%= icon('gear', 'Loading payment form...', class: 'fa-spin') %>
          </div>

          <div class='payment-form loading'>
            <div class='form-group'>
              <%= f.fields_for :temp_user do |temp_user_form| %>
                <%= temp_user_form.label :email %>
                <%= temp_user_form.email_field :email, class: 'form-control', required: true, disabled: true %>
              <% end %>
            </div>

            <div class='form-group'>
              <label for="card-number">Card Number</label>
              <div id='card-number' class='card-number braintree-control disabled'></div>
            </div>

            <div class='form-group'>
              <label for="cvv">CVV</label>
              <div id='cvv' class='cvv braintree-control disabled'></div>
            </div>

            <div class='form-group'>
              <label for="expiration-date">Expiration Date</label>
              <div id='expiration-date' class='expiration-date braintree-control disabled'></div>
            </div>

            <div class='form-group'>
              <%= check_box_tag :tos_acceptance, 1, false, disabled: true %>
              <%= label_tag :tos_acceptance  do %>
                I accept the
                <%= link_to 'Terms of Service', terms_path, target: '_blank' %>
                and the
                <%= link_to 'Privacy Policy',  privacy_path, target: '_blank' %>
                .
              <% end %>
            </div>

            <div class='form-group'>
              <%= f.submit 'Submit', disabled_with: 'Please wait...', class: 'btn btn-large btn-block btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :scripts do %>
  <script src="https://js.braintreegateway.com/js/beta/braintree-hosted-fields-beta.18.min.js"></script>
  <script>
$(document).ready(function() {
  new DonationForm('#new_transaction', '<%= Braintree::ClientToken.generate %>', 1000)
});
  </script>
<% end %>
