
<%= render 'page_header' %>

<div class='transaction-form'>
  <div class='container'>

    <%= form_for @transaction do |f| %>

      <% if flash[:error] %>
      <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
          <div class='alert alert-danger'>
            <% if flash[:error].size == 1 %>
              <p><%= flash[:error].first %></p>
            <% else %>
              <p>Oops! Looks like there were some problems with your submission</p>
              <ul>
              <% flash[:error].each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>

      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p class='giving-sentence'>
          I'd like to donate

          <span class='dollar-container'>
            <%= f.text_field :amount, value: '1.00',
              class: 'amount-field inline-form-field',
              data: { 'a-sign' => '$', 'v-min' => 1, 'v-max' => '50000' },
              required: true
            %>
          </span>

          to the <%= link_to 'Billion&nbsp;Fund'.html_safe, story_path, target: '_blank' %>, <br/>

          giving
          <span class='point-container'>
            <span class='point-value'><%= TransactionsController::DOLLAR_TO_POINT %></span>
            <span class='point-unit'>points</span>
          </span>
          to

          <%= f.collection_select :recipient_id, Project.all, :id, :name, { prompt: '...' },
            class: 'project-select inline-form-field',
            required: true %>.
          </p>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-4 col-md-offset-4'>

          <div class='payment-spinner'>
            <%= icon('gear', 'Loading payment form...', class: 'fa-spin') %>
          </div>

          <div class='payment-form loading'>
            <div class='form-group'>
              <%= f.fields_for :temp_user do |temp_user_form| %>
                <%= temp_user_form.label :email %>
                <%= temp_user_form.email_field :email, class: 'form-control', required: true, disabled: true %>
              <% end %>
            </div>

            <div class='form-group'>
              <label for="card-number">Card Number</label>
              <div id='card-number' class='card-number braintree-control disabled'></div>
            </div>

            <div class='form-group'>
              <label for="cvv">CVV</label>
              <div id='cvv' class='cvv braintree-control disabled'></div>
            </div>

            <div class='form-group'>
              <label for="expiration-date">Expiration Date</label>
              <div id='expiration-date' class='expiration-date braintree-control disabled'></div>
            </div>

            <div class='form-group'>
              <p>
                By donating you accept the
                <%= link_to 'Terms of Service', terms_path, target: '_blank' %>
                and the
                <%= link_to 'Privacy Policy',  privacy_path, target: '_blank' %>
                .
              </p>
            </div>

            <div class='form-group'>
              <%= f.submit 'Donate', disabled_with: 'Please wait...', class: 'btn btn-large btn-block btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :scripts do %>
  <script src="https://js.braintreegateway.com/js/beta/braintree-hosted-fields-beta.18.min.js"></script>
  <script>
$(document).ready(function() {
  new DonationForm('#new_transaction', '<%= Braintree::ClientToken.generate %>', <%= TransactionsController::DOLLAR_TO_POINT %>)
});
  </script>
<% end %>
