<footer>
  <div class='container'>
    <div class='row'>
      <div class='hidden-xs col-sm-4 col-lg-6 logo'>
        <%= link_to root_path do %>
          <%= image_tag 'billion_logo_white_small.png' %>
          <p class="love">Made with <%= icon('heart') %> in Columbus, OH</p>
        <% end %>
      </div>

      <div class="col-xs-6 col-sm-3 col-lg-2 links">
        <ul>
          <li class="links-header">Resources</li>
          <li><a href="#">How It Works</a></li>
          <li><a href="#">Browse Projects</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-sm-3 col-lg-2 links">
        <ul>
          <li class="links-header">Legal</li>
          <li><%= link_to 'Terms Of Service', terms_path %></li>
          <li><%= link_to 'Privacy Policy', privacy_path %></li>
        </ul>
      </div>

      <div class='col-xs-12 col-sm-2 col-lg-2'>
        <p class='social-links'>
        <%= link_to icon('facebook'), 'https://www.facebook.com/billioneffect' %>
        <%= link_to icon('twitter'), 'https://twitter.com/BillionEffect' %>
        <%= link_to icon('instagram'), 'https://instagram.com/BillionEffect' %>
        </p>
      </div>
    </div>
  </div>
</footer>
