<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-2 logo'>
        <%= image_tag 'billion_logo_white_small.png' %>
      </div>
      <div class="col-sm-8">
        <p class="love">Made with
        <%= icon('heart') %>
        in Columbus, OH</p>
      </div>
      <div class='col-sm-2'>
        <p class='social-links'>
        <%= link_to icon('facebook'), 'https://www.facebook.com/billioneffect' %>
        <%= link_to icon('twitter'), 'https://twitter.com/BillionEffect' %>
        <%= link_to icon('instagram'), 'https://instagram.com/BillionEffect' %>
        </p>
      </div>
    </div>
  </div>
</footer>
