<!DOCTYPE html>
<html>
  <%= render "layouts/heading" %>

  <body <% if content_for?(:body_attributes) %>
    <%= yield(:body_attributes) %> 
  <% end %>>

    <%= render 'layouts/nav' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= yield :scripts %>

  </body>
</html>
