<!DOCTYPE html>
<html>
  <%= render "layouts/heading" %>

  <body>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= yield :scripts %>

  </body>
</html>
